name: Build project with Maven
on:
  pull_request:
  push:
    branches-ignore: [master, main]
  schedule:
  - cron: '2 2 * * 1' # run main builds every monday 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Java setup
      uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Cache
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Run Maven
      run: mvn -B clean install com.mycila:license-maven-plugin:check
    - name: Publish Test Results
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: Maven Test Results
        path: '**/target/surefire-reports/TEST-*.xml'
        reporter: java-junit
        fail-on-error: true
